<!DOCTYPE html>
<html>
	<head>
		<title>Carte Vélib avec MapBox</title>
		<link href="css/style.css" rel="stylesheet" media="screen" />
  		<link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.css' rel='stylesheet' />
	</head>
	<body>
		<header>
			<ul>
				<li><a href="#" id="showmarker" title="Show with Markers">Markers</a></li>
				<li><a href="#" id="showcircle" title="Show with Circle">Circle</a></li>
			</ul>
			<!-- <canvas id="canvas" width="512" height="512"> -->
		</header>
	    
		<div id='map'></div>
		<div id='legend-content' style='display: none;'>
		  <div class='my-legend'>
			  <div class='legend-title'>Population de velib</div>
			  <div class='legend-scale'>
			    <ul class='legend-labels'>
			      <li><span style='background:#2B00DD;'></span>0 - 20%</li>
			      <li><span style='background:#5500BB;'></span>40%</li>
			      <li><span style='background:#800099;'></span>60%</li>
			      <li><span style='background:#AA0077;'></span>80%</li>
			      <li><span style='background:#D50055;'></span>100%</li>
			    </ul>
			  </div>
			  <div class='legend-source'>Source: <a href="http://www.jcdecaux.fr/‎">JCDecaux</a></div>
	  		</div>
	  	</div>

		<footer>
			<div id="control" class="showControl"></div>
			<ul>
				<li>
					<div id="holder"></div>
				</li>
				<li>
					Number of available bikes : <span id="countBikes"></span>
					<br/>
					Number of available stands : <span id="countStands"></span>
					<br/>
					Number of stands : 39920
					<br/>
					Number of station : 1227 
				</li>
				<li>
					<div id="circle"></div>
				</li>
			</ul>

			
		</footer>
		<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
		<script src='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.js'></script>
		<script src="/socket.io/socket.io.js" type="text/javascript"></script>
		<script src="js/raphael.js" type="text/javascript"></script>
		<script src="js/g.raphael.js" type="text/javascript"></script>
		<script src="js/g.line.js" type="text/javascript"></script>
		<script src="js/g.pie.js" type="text/javascript"></script>
		<script src="js/velib.js" type="text/javascript"></script>
	</body>
</html>