/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*************************
          START 
*************************/
/* FONT FACE */
@font-face {
  font-family: 'DINPro';
  src: url("fonts/DINPro-Regular.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DINPro';
  src: url("fonts/DINPro-Italic.otf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'DINPro';
  src: url("fonts/DINPro-Bold.otf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'DINPro';
  src: url("fonts/DINPro-Black.otf");
  font-weight: 900; }

@font-face {
  font-family: 'DINPro';
  src: url("fonts/DINPro-Light.otf");
  font-weight: 100; }

/* COLORS */
/* ANIMATIONS */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1); }

  50% {
    -webkit-transform: scale(1.1); }

  100% {
    -webkit-transform: scale(1); } }

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1); }

  50% {
    -moz-transform: scale(1.1); }

  100% {
    -moz-transform: scale(1); } }

@-o-keyframes pulse {
  0% {
    -o-transform: scale(1); }

  50% {
    -o-transform: scale(1.1); }

  100% {
    -o-transform: scale(1); } }

@keyframes pulse {
  0% {
    transform: scale(1); }

  50% {
    transform: scale(1.1); }

  100% {
    transform: scale(1); } }

/* SCSS */
body {
  background-color: #edf5fb;
  font-family: DINPro;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

#title {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  box-shadow: 0px 10px 5px 0px #edf5fb;
  z-index: 25; }
  #title h1 {
    display: inline-block;
    background-color: #65bee7;
    color: #edf5fb;
    margin: 30px 50px;
    padding: 3px 15px;
    font-size: 2em;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 3s;
    -moz-animation-delay: 0s;
    -moz-animation-iteration-count: infinite;
    -o-animation-duration: 3s;
    -o-animation-delay: 0s;
    -o-animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -o-animation-name: pulse;
    animation-name: pulse; }
    #title h1:hover {
      -webkit-animation-name: none;
      -moz-animation-name: none;
      -o-animation-name: none;
      animation-name: none; }
  #title .search {
    position: absolute;
    right: 50px;
    top: 30px; }
    #title .search label {
      position: relative;
      top: 4px; }
    #title .search input {
      width: 200px;
      padding: 4px;
      border: 2px solid #65bee7;
      background-color: #edf5fb; }
    #title .search .tt-dropdown-menu {
      background-color: #edf5fb;
      border: 2px solid #65bee7; }
    #title .search div .tt-suggestion:first-letter {
      text-transform: uppercase; }
    #title .search div .tt-suggestion:hover {
      background-color: #00f; }

#informations {
  position: fixed;
  top: 100px;
  left: 0;
  width: 40%;
  height: 75%;
  z-index: 75;
  box-shadow: 10px 0px 5px 0px #edf5fb;
  overflow: hidden; }
  #informations > * {
    margin-left: 50px; }
  #informations #titreStation {
    position: absolute;
    left: 0;
    top: 0;
    color: #1b6d93;
    font-size: 2em;
    margin-left: 50px;
    display: block; }
  #informations #soustitreStation {
    position: absolute;
    left: 0;
    top: 80px;
    display: block;
    color: #64bee7;
    font-size: 1.3em;
    margin-left: 50px; }
    #informations #soustitreStation span {
      margin-left: 25px; }
  #informations #donutContainer {
    margin: 0 auto;
    position: relative;
    left: 0;
    top: 200px;
    width: 100%;
    height: 200px;
    margin: 20px 0; }

#map_container {
  position: fixed;
  background-color: #edf5fb;
  top: 100px;
  right: 0;
  height: 75%;
  width: 60%;
  z-index: 0; }
  #map_container #map {
    height: 100%;
    width: 100%; }

#timeline {
  background-color: #edf5fb;
  position: fixed;
  bottom: 10px;
  height: 200px;
  width: 100%;
  z-index: 100;
  box-shadow: 0px -5px 10px 0px #edf5fb; }
  #timeline nav {
    margin-left: 50px; }
    #timeline nav ul {
      cursor: default; }
      #timeline nav ul li {
        color: #65bee7;
        padding: 5px;
        display: inline-block;
        border: 2px #65bee7 solid;
        cursor: pointer;
        margin-right: 20px;
        border-radius: 5px; }

.no_opacity {
  opacity: 0 !important; }

.leaflet-control {
  display: none !important; }
