/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; }
body {line-height: 1; }
ol, ul {list-style: none; }
blockquote, q {quotes: none; }
blockquote {&:before, &:after {content: '';content: none; } }
q {&:before, &:after {content: '';content: none; } }
table {border-collapse: collapse;border-spacing: 0; }

/*************************
          START 
*************************/

/* FONT FACE */

@font-face{
	font-family:'DINPro';
	src: url('fonts/DINNextRoundedLTPro-Medium.otf');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'DINPro';
	src: url('fonts/DINNextRoundedLTPro-Italic.otf');
	font-weight:normal;
	font-style:italic;
}
@font-face{
	font-family:'DINPro';
	src: url('fonts/DINNextRoundedLTPro-Bold.otf');
	font-weight:bold;
	font-style:normal;
}
@font-face{
	font-family:'DINPro';
	src: url('fonts/DINNextRoundedLTPro-Black.otf');
	font-weight:900;
}
@font-face{
	font-family:'DINPro';
	src: url('fonts/DINNextRoundedLTPro-Light.otf');
	font-weight:300;
}

/* COLORS */

$bg: #edf5fb;
$blue1: #65bee7; // fond titre
$blue2: #1b6d93; // titre station
$blue3: #64bee7; // sous-titre station
$blue4: #d0eaf6; // fond date
$blue5: #b5def1; // border date

/* ANIMATIONS */

@-moz-keyframes spinPulse {
	0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
	50% { -moz-transform:rotate(145deg); opacity:1; }
	100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
	50% { -webkit-transform:rotate(145deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}

/* SCSS */

body{
	background-color: $bg;
	font-family: DINPro;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
	&.screenSplit{
		#informations{
			width:40%;
			left:0%;
		}
		#map_container{
			width:60%;
			left:40%;
		}
	}
}
#loading_page{
	#gate_top, #gate_bottom{
		background:#65bee7;
		z-index:999990;
		position:fixed;
		left:0;
		right:0;
		-webkit-transition-duration:0.5s;
		-moz-transition-duration:0.5s;
		-o-transition-duration:0.5s;
		transition-duration:0.5s;
	}
	#gate_top{
		top:0;
		bottom:50%;
		&.open{
			bottom:100%;
		}
	}
	#gate_bottom{
		top:50%;
		bottom:0;
		&.open{
			top:100%;
		}
	}
	.content{
		position:fixed;
		z-index:999999;
		height:100%;
		width:100%;
		&.stop {
			.circle, .circle1{
				-webkit-animation-play-state:paused;
				-moz-animation-play-state:paused;
				-o-animation-play-state:paused;
				-ms-animation-play-state:paused;
				animation-play-state:paused;
				opacity:0;
			}
			display:none;
		}
	}
	.circle{
		background-color: rgba(0,0,0,0);
		border:5px solid rgba(27,109,147,0.9);
		opacity:0.9;
		border-right:5px solid rgba(0,0,0,0);
		border-left:5px solid rgba(0,0,0,0);
		border-radius:50%;
		box-shadow: 0 0 35px #fff;
		position:absolute;
		left:50%;
		top:50%;
		margin-left:-150px;
		margin-top:-150px;
		width:300px;
		height:300px;
		-webkit-animation:spinPulse 1s infinite linear;
		-moz-animation:spinPulse 1s infinite ease-in-out;
		-o-animation:spinPulse 1s infinite linear;
		-ms-animation:spinPulse 1s infinite ease-in-out;
		animation:spinPulse 1s infinite linear;
	}
	.circle1{
		background-color: rgba(0,0,0,0);
		border:5px solid rgba(27,109,147,0.9);
		opacity:0.9;
		border-left:5px solid rgba(0,0,0,0);
		border-right:5px solid rgba(0,0,0,0);
		border-radius:50%;
		box-shadow: 0 0 15px #fff;
		position:absolute;
		left:50%;
		top:50%;
		margin-left:-100px;
		margin-top:-100px;
		width:200px;
		height:200px;
		-moz-animation:spinoffPulse 1s infinite linear;
		-webkit-animation:spinoffPulse 1s infinite linear;
	}
}
#title{
	position:fixed;
	top:0;
	left:0;
	//height:100px;
	height:10%;
	width: 100%;
    box-shadow: 0px 10px 5px 0px $bg;
	z-index: 25;
	h1{
		display:inline-block;
		background-color:$blue1;
		color:$bg;
		margin:30px 50px;
		padding:3px 15px;
		font-size:2em;
		-webkit-transition-duration:1s;
		-moz-transition-duration:1s;
		-o-transition-duration:1s;
		transition-duration:1s;
		&:hover{
			-webkit-transform:scale(1.1);
			-moz-transform:scale(1.1);
			-o-transform:scale(1.1);	
			transform:scale(1.1);
		}
	}
	.search{
		position:absolute;
		right:50px;
		top:30px;
		input{
			width:200px;
			padding:4px;
			border:2px solid $blue1;
			background-color:$bg;
		}
		.tt-dropdown-menu{
			background-color: $bg;
			border:2px solid $blue1;
			width:208px;
		}
		div .tt-suggestion{
			padding:4px;
		}
		div .tt-suggestion:first-letter{
			text-transform:uppercase;
		}
		div .tt-suggestion:hover{
			background-color:$blue1;
		}
	}
}
#informations{
	position:fixed;
	//top:100px;
	top:10%;
	//left:0;
	left:-100%;
	width:40%;
	//height:75%;
	height:70%;
	z-index:75;
    box-shadow: 10px 0px 5px 0px $bg;
    overflow:hidden;
    -webkit-transition:all 0.5s ease 0s;
	-moz-transition:all 0.5s ease 0s;
	-o-transition:all 0.5s ease 0s;
	transition:all 0.5s ease 0s;
    > *{
    	margin-left:50px;
    }
	#titreStation{
		position:absolute;
		left:0;
		top:20px;
		color:$blue2;
		font-size:2em;
		margin-left:50px;
		display:block;
		width:auto;
	}
	#soustitreStation{
		position:absolute;
		left:0;
		top:80px;
		display:block;
		color: $blue3;
		font-size:1.3em;
		margin-left:50px;
		width:auto;

		span{
			margin-left:25px;
		}
	}
	#donutContainer{
	    margin:0 auto;
	    position:relative;
	    left:0;
	    top:150px;
	    width:100%;
	    height:40%;
	    //margin:20px 0;
	}
}
#map_container{
	position:fixed;
	background-color:$bg;
	//top:100px;
	top:10%;
	//left:40%;
	left:0;
	//height:75%;
	height:70%;
	// width:60%;
	width:100%;
	z-index:0;
	-webkit-transition:all 0.5s ease 0s;
	-moz-transition:all 0.5s ease 0s;
	-o-transition:all 0.5s ease 0s;
	transition:all 0.5s ease 0s;
	#map{
		height: 100%;
		width: 100%;
	}
}
#timeline{
	background-color: $bg;
	position:fixed;
	bottom:0;
	left:0;
	//height:200px;
	height:20%;
	min-height:220px;
	width:100%;
	z-index: 100;
    box-shadow: 0px -5px 10px 0px $bg;

    nav{
    	margin-left:50px;
    	ul{
    		cursor: default;
    		li{
    			color:$bg;
    			background-color:$blue1;
    			padding:5px;
    			display:inline-block;
    			border:1px $blue1 solid;
    			cursor:pointer;
    			margin-right:20px;
    			-webkit-transition:all 0.25s ease 0s;
				-moz-transition:all 0.25s ease 0s;
				-o-transition:all 0.25s ease 0s;
				transition:all 0.25s ease 0s;
    			&:hover, &.active{
    				color:$blue1;
    				background-color:$bg;
    				//font-weight:bold;
    			}
    			&:first-of-type{
    				border:1px $blue2 solid;
    				background-color:$blue2;
    				color:$bg;
    				&:hover, &.active{
    					color:$blue2;
    					background-color:$bg;
    				}
    			}
    		}
    	}
    }
}
.no_opacity{
    opacity:0 !important;
}
.leaflet-control{
	display: none !important;
}
// .highcharts-tooltip{
// 	display:block;
// 	font-family: DINPro;
//     font-size: 1.2em;
//     padding:10px;
// }



