/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; }
body {line-height: 1; }
ol, ul {list-style: none; }
blockquote, q {quotes: none; }
blockquote {&:before, &:after {content: '';content: none; } }
q {&:before, &:after {content: '';content: none; } }
table {border-collapse: collapse;border-spacing: 0; }

/*************************
          START 
*************************/

/* FONT FACE */

@font-face{
	font-family:'DINPro';
	src: url('fonts/DINPro-Regular.otf');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'DINPro';
	src: url('fonts/DINPro-Italic.otf');
	font-weight:normal;
	font-style:italic;
}
@font-face{
	font-family:'DINPro';
	src: url('fonts/DINPro-Bold.otf');
	font-weight:bold;
	font-style:normal;
}
@font-face{
	font-family:'DINPro';
	src: url('fonts/DINPro-Black.otf');
	font-weight:900;
}
@font-face{
	font-family:'DINPro';
	src: url('fonts/DINPro-Light.otf');
	font-weight:100;
}

/* COLORS */

$bg: #edf5fb;
$blue1: #65bee7; // fond titre
$blue2: #1b6d93; // titre station
$blue3: #64bee7; // sous-titre station

$blue4: #d0eaf6; // fond date
$blue5: #b5def1; // border date


/* SCSS */

body{
	background-color: $bg;
	font-family: DINPro;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
section{
	&:nth-child(1){
		position: fixed;
		top: 0;
		left: 0;
		//border: 1px solid black;
		width: 40%;
		h1{
			display: inline-block;
			background-color: $blue1;
			color: $bg;
			margin: 50px;
			padding: 3px 15px;
			font-size: 2em;
		}
		#titreStation{
			color: $blue2;
			font-size: 2.5em;
			margin-left: 50px;
		}
		#soustitreStation{
			color: $blue3;
			font-size: 1.5em;
			margin-left: 50px;
			span{
				margin-left: 25px;
			}
		}
	}
	&:nth-child(2){
		position:relative;
		background-color: blue;
		height:100%;
		width:100%;
	}
	&:nth-child(3){
		position: fixed;
		bottom: 0;
		//border: 1px solid black;
		height: 40%;
		width: 100%;
		#date{
			margin-left: 100px;
			color:$blue2;
			span{
				margin-left: 10px;
				padding: 0 5px;
				color:$blue2;
				background-color: $blue4;
				border: 1px solid $blue5;
			}
		}
	}
}
.no_opacity{
    opacity:0;
}
#donutChartContainer{
    margin:0 auto;
    position:relative;
    width:100%;
    height:300px;
    margin:50px 0;
}
#donutChartCanvas{
    display:block;
    position:absolute;
    left:50%; margin-left:-150px;
    top:50%; margin-top:-150px;
}
#donutNbStands{
    position:absolute;
    left:50%; margin-left:-50px;
    top:50%; margin-top:-50px;
    width:100px; height:100px;
    text-align:center; line-height:100px;
    transition:all 0.5s ease 1s;
    -webkit-transition:all 0.5s ease 1s;
}


